@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
    --text-bg-color: #04364A;
    --text-white-color: #FFFFFF;
    --text-black-color: #000000;
    --badge-bg-color: #D3D3D3;
    --booking-bg-color: #ffffffb0;
    --text-white-outline-color: #00000063;
    --rooms-bg-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background: url(../img/banner.jpg);
    gap: 120px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}

.bar {
    display: none;
    font-size: 35px;
    margin-right: 25px;
    cursor: pointer;
}

.logo-container {
    padding: 10px 15px;
}

.logo {
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
    padding: 12px 40px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding-right: 40px;
}

.links a {
    font-size: 19px;
    padding: 5px 10px;
    color: var(--text-black-color);
    transition: .3s all;
}

.links a:hover {
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
}

.badge p {
    background-color: var(--badge-bg-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.banner-header h1 {
    font-size: 85px;
    color: var(--text-white-color);
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 18px 30px;
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.booking {
    background-color: var(--booking-bg-color);
    /* background-color: rgba(255, 0, 0, 0.495); */
    width: 100%;
    display: flex;
    gap: 20px;
    /* justify-content: flex-start; */
    padding: 20px 10px;
}

.booking-card-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
}

.booking-card-item label {
    font-size: 18px;
}

.booking-card-item input {
    height: 40px;
    text-indent: 5px;
    font-size: 16px;
    border: 1px solid var(--text-black-color);
    z-index: 100;
}


.text-container {
    width: 100%;
    background-color: var(--text-white-color);
    font-size: 20px;
    font-weight: 300;
    word-spacing: 10px;
    padding: 50px 15%;
    color: var(--text-white-outline-color);
}

.text-container span {
    font-weight: bold;
    font-size: 25px;
    color: var(--text-black-color);
}

.rooms-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--rooms-bg-color);
    padding: 50px 15%;
}

.room-header {
    margin-bottom: 40px;
    text-align: center;
}

.room-header h2 {
    font-size: 30px;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 50px;
    padding: 20px 0px;
}

.room {
    background-color: var(--text-white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.room-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: .3s all ease;
}

.room-image:hover {
    transform: scale(1.2);
}

.room .btn {
    margin-bottom: 5px;
}

.room h3 {
    font-size: 24px;
}

.room h4 {
    font-size: 19px;
}

.subscribe-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-white-color);
    padding: 50px 15%;

}

.subscribe-container .description {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.description-logo {
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
    padding: 12px 40px;
}

.description p {
    font-size: 16px;
    line-height: 1.3;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 35%;
}

.subscribe-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-black-color);
    width: 100%;
    min-width: 350px;
}

.subscribe-buttons input {
    width: 100%;
    height: 52px;
    text-indent: 5px;
    font-size: 16px;
}

.food-detail-container {
    width: 100%;
    padding: 50px 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    background: url(../img/restaurant.jpg);
    background-repeat: no-repeat;
}

.food-detail {
    width: 65%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.food-detail h1 {
    font-size: 45px;
}

.premium-container {
    width: 100%;
    padding: 50px 15%;
    background-color: var(--rooms-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.premium-header {
    text-align: center;
}

.premium-header h2 {
    font-size: 30px;
}

.premium-body {
    display: flex;
    gap: 40px;
}

.premium-image {
    width: 30%;
    overflow: hidden;
}


.premium-image img {
    width: 100%;
}

.premium-cards {
    width: 65%;
    min-height: 1000px;
}

.premium-card {
    background-color: var(--text-white-color);
    width: 100%;
    padding: 20px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.premium-card h1 {
    font-size: 30px;
}

.gallery {
    width: 100%;
    background-color: var(--text-black-color);
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 30%;
    opacity: .5;
    cursor: pointer;
    transition: .3s all;
}

.gallery img:hover {
    opacity: 1;
}



@media screen and (max-width:1070px) {

    .navbar {
        margin-top: 20px;
        padding: 0 20px;
    }

    .links {
        gap: 60px;
        padding-right: 30px;
    }

    .links a {
        font-size: 16px;
    }

    .banner-header h1 {
        font-size: 65px;
        margin-bottom: 45px;
    }

    .room-header {
        margin-bottom: 20px;
    }
    
    .room-header h2 {
        font-size: 25px;
    }
    
    .rooms {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    .room h3 {
        font-size: 22px;
    }
    
    .room h4 {
        font-size: 17px;
    }
    
    .food-detail {
        width: 85%;
        padding: 30px;
    }
    
    .food-detail h1 {
        font-size: 35px;
    }

    .premium-container {
        width: 100%;
        padding: 30px 5%;
        gap: 30px;
    }
    
    
    .premium-header h2 {
        font-size: 25px;
    }
    
    .premium-body {
        gap: 30px;
    }
    
    .premium-image {
        width: 30%;
    }
    
    .premium-card {
        margin-bottom: 23px;
        gap: 15px;
    }
    
    .premium-card h1 {
        font-size: 25px;
    }

}


@media screen and (max-width:956px) {
    .header {
        gap: 180px;
    }

    .navbar {
        margin-top: 20px;
        padding: 0 10px;
    }

    .links {
        gap: 30px;
        padding-right: 15px;
    }

    .links a {
        font-size: 15px;
    }

    .banner-header h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .subscribe, .subscribe-container .description {
        width: 100%;
    }

    .subscribe-container {
        flex-direction: column;
        gap: 50px;
    }

    .premium-container {
        padding: 20px 5%;
        gap: 20px;
    }
    
    .premium-body {
        gap: 20px;
    }
    
    .premium-image {
        width: 40%;
    }
    
    
    .premium-card {
        margin-bottom: 15px;
        gap: 15px;
    }
    
    .premium-card h1 {
        font-size: 25px;
    }

}

@media screen and (max-width:790px) {
    .header {
        gap: 50px;
    }

    .links {
        gap: 20px;
        padding-right: 10px;
    }

    .links a {
        font-size: 15px;
    }

    .badge p {
        font-size: 16px;
    }


    .banner-header h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .booking {
        flex-direction: column;
        justify-content: center;
    }

    .booking-card-item {
        width: 100%;
    }


    .booking-card-item label {
        font-size: 16px;
    }

    .booking-card-item input {
        height: 30px;
    }

    .text-container {
        font-size: 18px;
        word-spacing: 8px;
    }
    
    .text-container span {
        font-size: 22px;
    }

    .room-header {
        margin-bottom: 10px;
    }
    
    .room-header h2 {
        font-size: 20px;
    }
    
    .rooms {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    
    .room h3 {
        font-size: 20px;
    }
    
    .room h4 {
        font-size: 16px;
    }

    .rooms-container{
        padding: 30px 8%;
    }

    
    .premium-body {
        flex-direction: column;
    }
    
    .premium-image {
        display: none;
    }

    .premium-cards {
        width: 100%;
    }

    .gallery {
        padding: 30px 5%;
    }
    
    .gallery img {
        width: 40%;
    }
    
}


@media screen and (max-width:650px) {

    .bar {
        display: inline-block;
    }

    .links {
        display: none;
    }

    .header {
        gap: 20px;
    }

    .banner-header h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .booking-card-item {
        width: 80%;
        margin: 5px auto;
        text-align: center;
    }

    .booking-card-item label {
        font-size: 15px;
    }

    .btn {
        padding: 14px 20px;
        font-size: 15px;
    }

    .text-container {
        font-size: 16px;
        word-spacing: 5px;
    }
    
    .text-container span {
        font-size: 20px;
    }

    .rooms-container{
        padding: 25px 4%;
    }

    .subscribe-buttons {
        min-width: 265px;
    }

    .food-detail-container {
        padding: 20px 8%;
    }
    
    .food-detail {
        width: 90%;
        padding: 20px;
        gap: 10px;
    }
    
    .food-detail h1 {
        font-size: 30px;
    }

    .premium-card {
        margin-bottom: 15px;
        gap: 10px;
    }
    
    .premium-card h1 {
        font-size: 20px;
    }

    .gallery {
        padding: 20px 10%;
        gap: 10px;
    }
    
    .gallery img {
        width: 90%;
    }
}