@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text-bg-color: #04364A;
    --text-white-color: #FFFFFF;
    --text-black-color: #000000;
    --badge-bg-color: #D3D3D3;
    --booking-bg-color: #ffffffb0;
    --text-white-outline-color : #00000063;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    height: 500vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background: url(../img/banner.jpg);
    gap: 120px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 50px;
}

.logo-container {
    padding: 10px 15px;
}

.logo {
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
    padding: 12px 40px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding-right: 40px;
}

.links a {
    font-size: 19px;
    padding: 5px 10px;
    color: var(--text-black-color);
    transition: .3s all;
}

.links a:hover {
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
}

.badge p {
    background-color: var(--badge-bg-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.banner-header h1 {
    font-size: 85px;
    color: var(--text-white-color);
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 18px 30px;
    background-color: var(--text-bg-color);
    color: var(--text-white-color);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.booking {
    background-color: var(--booking-bg-color);
    /* background-color: rgba(255, 0, 0, 0.495); */
    width: 100%;
    display: flex;
    gap: 20px;
    /* justify-content: flex-start; */
    padding: 20px 10px;
}

.booking-card-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
}

.booking-card-item label {
    font-size: 18px;
}

.booking-card-item input {
    height: 40px;
    text-indent: 5px;
    font-size: 16px;
    border: 1px solid var(--text-black-color);
    z-index: 100;
}


.text-container{
    width: 100%;
    background-color: var(--text-white-color);
    font-size: 20px;
    font-weight: 300;
    word-spacing: 10px;
    padding: 50px 15%;
    color: var(--text-white-outline-color);
}

.text-container span{
    font-weight: bold;
    font-size: 25px;
    color: var(--text-black-color);
}